fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.35
greenlet==3.5.5
asyncpg==0.29.0
pgvector==0.3.4
pydantic==2.9.2
pydantic-settings==2.5.2
email-validator==2.2.0
python-multipart==0.0.9
celery==5.4.0
redis==5.0.8
boto3==1.35.24
onnxruntime==1.19.2
onnx==1.16.2
onnxscript
insightface==0.7.3
opencv-python-headless==4.10.0.84
numpy==1.26.4
ultralytics==8.2.103
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
alembic==1.13.2
